.header {
	border: 1px solid #000000;
}

.filter{
	border: 1px solid #000000;
}

.results{
	border: 1px solid #000000;
}

.username{
	border: 1px solid #000000;
}

.status {
	border: 1px solid #000000;
}